@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Quicksand:wght@300;400&display=swap');


/* Custom Variables */
:root{
    --color1st:#805018;
    --color2nd:#053225;
    --color3rd:#ffffb3;
}