@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Quicksand:wght@300;400&display=swap');


/* Custom Variables */
:root {
    /* Colors Set */
    --color1st: #805018;
    --color2nd: #053225;
    --color3rd: #ffffb3;
    --color1st-shade: #B7850B;
    --white-color: #fff;
    --black-color: #000;

    /* Heading Font & Size */
    --heading-font: 'Lora', serif;
    --hero-font-size: 3.583rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --h5-font-size: 1.44rem;
    --h6-font-size: 1.2rem;

    /* Regular Font Size */
    --regular-font-family: 'Quicksand', sans-serif;
    --regular-font-size: 1rem;
    --small-font-size: 0.833rem;
    --extra-font-size: 0.694rem;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: var(--regular-font);
    font-weight: 400;
    line-height: 1.40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

img {
    width: 100%;
}

.btn-clr1 {
    background-color: var(--color1st);
}

.btn-clr2 {
    background-color: var(--color2nd);
}

.btn-clr3 {
    background-color: var(--color3rd);
}

.color1 {
    background-color: var(--color1st);
}

.color2 {
    background-color: var(--color2nd);
}

.color3 {
    background-color: var(--color3rd);
}


.section{
    padding: 40px 0;
}

/* Header Style */

header{
    background-color: var(--color2nd);
    height: 80px;
    sha
}


/* Banner Section */
.banner{
}

.banner-content{
    align-items: center;
}

.banner-text{
    font-family:var(--heading-font);
    padding-right: 40px;
}

.banner-text h1{
    font-size: var(--hero-font-size);
    font-weight: bold;
}

.banner-text span{
    color: var(--color1st-shade);
    margin: 20px 0;
}